<!-- START Top Navbar-->
<!-- <nav class="navbar topnavbar" role="navigation">  
  <div class="navbar-header">
    <a class="navbar-brand " [routerLink]="['/user']">
      <img src="assets\img\PMlogo.jpg" alt="Project Manager">
        &nbsp; Project Manager
    </a>
  </div>
</nav> -->


<nav class="navbar navbar-expand-md bg-info navbar-dark fixed-top">
    <a class="navbar-brand" href="#"><img src="assets\img\PMlogo.jpg" alt="Project Manager">
      &nbsp; Project Manager
    </a>    
     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
       aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
     </button>
     <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">   
         <li class="nav-item">
           <a class="nav-link" routerLink="/user/list"><span> Users</span></a>
         </li>
         <li class="nav-item">
           <a class="nav-link " routerLink="/project/list">Project</a>
         </li>
         <li class="nav-item">
           <a class="nav-link" routerLink="/task/list">Task</a>
         </li>   
       </ul>        
     </div>
   </nav>

