################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FSE_ProjectManager/.vs/FSE_ProjectManager/v15/Server/sqlite3
/FSE_ProjectManager/.vs/FSE_ProjectManager/v15
/FSE_ProjectManager/FSE_ProjectManager/obj
/FSE_ProjectManager/PM.DAL/bin/
/FSE_ProjectManager/PM.DAL/obj
/FSE_ProjectManager/PM.Models/obj
/FSE_ProjectManager/PM.Models/bin/
/FSE_ProjectManager/PM.Utilities/bin/
/FSE_ProjectManager/PM.Utilities/obj
/FSE_ProjectManager/PM.Extensions/obj/
/FSE_ProjectManager/PM.Web/bin/
/FSE_ProjectManager/PM.Web/obj/
/FSE_ProjectManager/PM.Web.Tests/obj/
/FSE_ProjectManager_UI/.vs
/.vs
/FSE_ProjectManager/PM.Web/bin/
/FSE_ProjectManager/PM.Web/obj/
/FSE_ProjectManager/PM.Web/obj/
/FSE_ProjectManager/Coverage
/FSE_ProjectManager_UI/src/.vs
/FSE_ProjectManager/PM.Extensions/bin/Debug/netcoreapp2.2
/FSE_ProjectManager/PM.Web.Tests/bin/Debug/netcoreapp2.2
/FSE_ProjectManager/PM.Extensions/bin/Debug
/FSE_ProjectManager/packages
/Logs/log20190828.txt
/FSE_ProjectManager_UI/web0.txt
