<div class="content-heading">User Details</div>
<div class="row">
  <div class="col-xl-12">
    <form *ngIf="ready && userForm" (ngSubmit)="save(userForm.value)" [formGroup]="userForm" novalidate>
      <fieldset>
        <legend>Details</legend>
        <div class="row">
          <div class="col-xl-8">
            <div class="form-group">
              <div class="ui-g-12 ui-md-3"><label for="firstName"><strong>First Name</strong>
                  <strong style="color: red">*</strong></label></div>
              <div class="ui-g-12 ui-md-9">
                <input formControlName="firstName" name="firstName" id="ud_firstName" type="text" size="40" pInputText
                  maxlength=200 placeholder="- First Name -" appValidateName>
                <div class="text-danger" *ngIf="!validateName()"><em>Either First Name or Last name is required.</em>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="ui-g-12 ui-md-3"><label for="lastName"><strong>Last Name</strong>
                  <strong style="color: red">*</strong>
                </label></div>
              <div class="ui-g-12 ui-md-9">
                <input formControlName="lastName" name="lastName" id="ud_lastName" type="text" size="40" pInputText
                  maxlength=200 placeholder="- Last Name -" (change)="onLastNameChange()">
                <div class="text-danger" *ngIf="!validateName()"><em>Either
                    First Name or Last name is required.</em>
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="ui-g-12 ui-md-3"><label for="employeeId"><strong>Employee Id</strong>
                  <strong style="color: red">*</strong>
                </label></div>
              <div class="ui-g-12 ui-md-9">
                <input formControlName="employeeId" name="employeeId" id="ud_employeeId" type="text" size="40"
                  pInputText maxlength=50 placeholder="- Employee Id -">

                <div class="text-danger" *ngIf="!validateEmployeeId()"><em>Employee Id is required</em></div>
              </div>
            </div>
          </div>
        </div>
      </fieldset>
      <p-footer>
        <button [disabled]="userForm.invalid" pButton type="submit" label="Save" icon="pi pi-check"
          style="margin-right: .25em"></button>
        <button pButton type="button" label="Back" icon="pi pi-times" class="ui-button-danger"
          (click)="back()"></button>
      </p-footer>

    </form>
  </div>
</div>
